.left-section {
    background-color: #fe6639; /* couleur rouge */
    height: 100vh; /* hauteur égale à la hauteur de la fenêtre du navigateur */
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-section {
    height: 100vh; /* hauteur égale à la hauteur de la fenêtre du navigateur */
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-box {
    background-color: #FFFFFF; /* couleur blanche */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    max-width: 500px;
    width: 100%;
}
.btn {
background-color: #fe6639; /* couleur rouge */
margin-left: auto;
margin-right: auto;
display: block;
color: #FFFFFF;
}