:root {
    --color-default: #000000;
    --color-primary: #0d42ff;
    --color-secondary: #fe6639;
  }
  .btn.btn-dark {
    transition: background-color 0.3s ease;
    list-style-type: none;
  }
  
  .btn.btn-dark:hover {
    background-color: #3277c5;
  }
  .btn.btn-primary {
    transition: background-color 0.3s ease;
  }

  
  a {
    color: var(--color-primary);
    text-decoration: none;
  }
  
  a:hover {
    color: #406aff;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-primary);
  }
  
  .hero {
    width: 100%;
    min-height: 50vh;
    background-color: #000000;
    background-image: url("src/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 120px 0 60px 0;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .hero h2 {
    margin-bottom: 20px;
    padding: 0;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
  }
  
  @media (max-width: 575px) {
    .hero h2 {
      font-size: 30px;
    }
  }
  
  .hero p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  
  .hero form {
    background: #fe6639;
    padding: 10px;
    border-radius: 10px;
  }
  
  .hero form .form-control {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    margin-right: 10px;
    border: none !important;
    background: none !important;
  }
  
  .hero form .form-control:hover,
  .hero form .form-control:focus {
    outline: none;
    box-shadow: none;
  }
  
  .hero form .btn-primary {
    background-color: red;
    padding: 15px 30px;
  }
  
  .hero form .btn-primary:hover {
    background-color: #2756ff;
  }
  
  .hero .stats-item {
    padding: 30px;
    width: 100%;
  }
  
  .hero .stats-item span {
    font-size: 32px;
    display: block;
    font-weight: 700;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
  }
  
  .hero .stats-item span:after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    background: #000000;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .hero .stats-item p {
    padding: 0;
    margin: 0;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 600;
  }
  .featured-services .service-item {
    position: relative;
    height: 100%;
    margin-bottom: 20px;
  }
  
  .featured-services .service-item .icon {
    margin-right: 20px;
  }
  
  .featured-services .service-item .icon i {
    color: #001f8d;
    font-size: 48px;
    transition: 0.3s;
  }
  
  .featured-services .service-item:hover .icon {
    background: none;
  }
  
  .featured-services .service-item:hover .icon i {
    color: red;
  }
  
  .featured-services .service-item .title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
    color: red;
    transition: 0.3s;
  }
  
  .featured-services .service-item .description {
    font-size: 15px;
    color: #132848;
    margin-bottom: 10px;
  }
  
  .featured-services .service-item .readmore {
    display: flex;
    align-items: center;
    color: #2756ff;
    transition: 0.3s;
    font-weight: 700;
    font-size: 14px;
  }
  
  .featured-services .service-item .readmore i {
    margin-left: 8px;
  }
  
  .featured-services .service-item:hover .title,
  .featured-services .service-item:hover .readmore,
  .featured-services .service-item:hover .icon i {
    color:  #0d42ff;
    
  }
  

 

.call-to-action {
  background-image: url("src/assets/cta-bg.jpg");
  background-size: cover;
  padding: 100px 0;
}

@media (min-width: 1365px) {
  .call-to-action {
    background-attachment: fixed;
  }
}

.call-to-action h3 {
  color: #000000;
  font-size: 28px;
  font-weight: 700;
}

.call-to-action p {
  color: #000000;
}

.call-to-action .cta-btn {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}
.call-to-action .cta-btn:hover {
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
}
.btn-primary{
  background-color: #3277c5;
  border-radius: 25px;
  border: none;
}
.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 5px;
}

.btn-primary {
  background-color: #3277c5;
  border-color: #3277c5;
  color: #000000;
}
.btn-secondary {
  background-color: #ff8f6b;
  border-color: #ff8f6b;
  border: none;
  border-radius: 25px;
  color: #000000;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background-color: #fe6639;
  border-color: #fe6639;
  box-shadow: none;
}
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:active:focus {
  background-color: #3277c5;
  border-color: #3277c5;
  box-shadow: none;
}
.card {
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

.card:hover {
  transform: scale(1.05);
}
