<app-navbar></app-navbar>
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">Votre partenaire de livraison rapide comme l'éclair</h2>
          <p data-aos="fade-up" data-aos-delay="100">Facere distinctio molestiae nisi fugit tenetur repellat non praesentium nesciunt optio quis sit odio nemo quisquam. eius quos reiciendis eum vel eum voluptatem eum maiores eaque id optio ullam occaecati odio est possimus vel reprehenderit</p>

          <form action="#" class="form-search d-flex align-items-stretch mb-3 bg-white" data-aos="fade-up" data-aos-delay="200">
            <input type="text" class="form-control" placeholder="ZIP code or CitY">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="/src/assets/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>
      </div>
      <br>
</section>
<section id="featured-services" class="featured-services">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 service-item d-flex" >
        <div class="icon flex-shrink-0"><i class="bi bi-emoji-smile"></i></div>
        <div>
          <h4 class="title">Rapidité</h4>
          <p class="description">Trouvez un livreur en quelques clics et recevez rapidement vos colis, sans avoir à attendre des heures ou des jours pour qu'un livreur soit disponible</p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6 service-item d-flex" >
        <div class="icon flex-shrink-0"><i class="bi bi-arrow-up-right"></i></div>
        <div>
          <h4 class="title">Flexibilité</h4>
          <p class="description">Vous pouvez choisir le livreur qui convient le mieux à vos besoins en fonction de sa disponibilité, de son expérience et de ses tarifs. Vous pouvez également suivre en temps réel le déplacement de votre livreur.</p>
      
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6 service-item d-flex">
        <div class="icon flex-shrink-0"><i class="bi bi-box-seam-fill"></i></div>
        <div>
          <h4 class="title">Fiabilité</h4>
          <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>
</section>
<section id="about" class="about pt-0">
  <div class="container" data-aos="fade-up">

    <div class="row gy-4">
      <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
        <img src="src/assets/about.jpg" class="img-fluid" alt="">
        <a href="https://www.youtube.com/watch?v=K8jLc18e2ds&ab_channel=BikerTrashFashion" class="glightbox play-btn"></a>
      </div>
      <div class="col-lg-6 content order-last  order-lg-first">
        <h3>About Us</h3>
        <p>
         Pourquoi Choisir Livrazone et pas quelqu'un d'autre ?
        </p>
        <ul>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-diagram-3"></i>
            <div>
              <h5>Ullamco laboris nisi ut aliquip consequat</h5>
              <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-fullscreen-exit"></i>
            <div>
              <h5>Large choix de livreurs</h5>
              <p>Livrazone offre un large choix de livreurs pour répondre à tous les besoins de ses utilisateurs. Les utilisateurs peuvent choisir parmi une variété de livreurs en fonction de leur emplacement, de leurs compétences et de leur disponibilité,
                 ce qui garantit un service personnalisé et de qualité pour tous les clients.</p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-broadcast"></i>
            <div>
              <h5>Voluptatem et qui exercitationem</h5>
              <p>Et velit et eos maiores est tempora et quos dolorem autem tempora incidunt maxime veniam</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="call-to-action" class="call-to-action">
  <div class="container" data-aos="zoom-out">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h3>Call To Action</h3>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="cta-btn" href="#">Call To Action</a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>