:root {
    --color-default: #000000;
    --color-primary: #0d42ff;
    --color-secondary: #fe6639;
  }
  
  a {
    color: var(--color-primary);
    text-decoration: none;
  }
  
  a:hover {
    color: #406aff;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-primary);
  }
  
  .hero {
    width: 100%;
    min-height: 50vh;
    background-color: #000000;
    background-image: url("src/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 120px 0 60px 0;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .hero h2 {
    margin-bottom: 20px;
    padding: 0;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
  }
  
  @media (max-width: 575px) {
    .hero h2 {
      font-size: 30px;
    }
  }
  
  .hero p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  
  .hero form {
    background: #fe6639;
    padding: 10px;
    border-radius: 10px;
  }
  
  .hero form .form-control {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    margin-right: 10px;
    border: none !important;
    background: none !important;
  }
  
  .hero form .form-control:hover,
  .hero form .form-control:focus {
    outline: none;
    box-shadow: none;
  }
  
  .hero form .btn-primary {
    background-color: red;
    padding: 15px 30px;
  }
  
  .hero form .btn-primary:hover {
    background-color: #2756ff;
  }
  
  .hero .stats-item {
    padding: 30px;
    width: 100%;
  }
  
  .hero .stats-item span {
    font-size: 32px;
    display: block;
    font-weight: 700;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
  }
  
  .hero .stats-item span:after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    background: #000000;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .hero .stats-item p {
    padding: 0;
    margin: 0;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 600;
  }
  .featured-services .service-item {
    position: relative;
    height: 100%;
    margin-bottom: 20px;
  }
  
  .featured-services .service-item .icon {
    margin-right: 20px;
  }
  
  .featured-services .service-item .icon i {
    color: #001f8d;
    font-size: 48px;
    transition: 0.3s;
  }
  
  .featured-services .service-item:hover .icon {
    background: none;
  }
  
  .featured-services .service-item:hover .icon i {
    color: red;
  }
  
  .featured-services .service-item .title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
    color: red;
    transition: 0.3s;
  }
  
  .featured-services .service-item .description {
    font-size: 15px;
    color: #132848;
    margin-bottom: 10px;
  }
  
  .featured-services .service-item .readmore {
    display: flex;
    align-items: center;
    color: #2756ff;
    transition: 0.3s;
    font-weight: 700;
    font-size: 14px;
  }
  
  .featured-services .service-item .readmore i {
    margin-left: 8px;
  }
  
  .featured-services .service-item:hover .title,
  .featured-services .service-item:hover .readmore,
  .featured-services .service-item:hover .icon i {
    color:  #0d42ff;
    
  }
  

  .about .content h3 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Roboto';
    color: #001f8d;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
  }
  
  .about .content ul i {
    flex-shrink: 0;
    font-size: 48px;
    color: var(--color-primary);
    margin-right: 20px;
    line-height: 0;
  }
  
  .about .content ul h5 {
    font-size: 18px;
    font-weight: 700;
    color: #19335c;
  }
  
  .about .content ul p {
    font-size: 15px;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  .about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(var(--color-primary) 50%, rgba(13, 66, 255, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }
  
  .about .play-btn:before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(13, 66, 255, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  .about .play-btn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .about .play-btn:hover:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    animation: none;
    border-radius: 0;
  }
  
  .about .play-btn:hover:after {
    border-left: 15px solid var(--color-primary);
    transform: scale(20);
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }

.call-to-action {
  background-image: url("src/assets/cta-bg.jpg");
  background-size: cover;
  padding: 100px 0;
}

@media (min-width: 1365px) {
  .call-to-action {
    background-attachment: fixed;
  }
}

.call-to-action h3 {
  color: #000000;
  font-size: 28px;
  font-weight: 700;
}

.call-to-action p {
  color: #000000;
}

.call-to-action .cta-btn {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}
.call-to-action .cta-btn:hover {
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
}
.btn-primary{
  background-color: #3277c5;
  border-radius: 25px;
  border: none;
}